@model Chestionare_online.Models.QuestionViewModel
@{
    ViewData["Title"] = "Examen";
    Layout = "~/Views/Shared/_LayoutExam.cshtml";
}

<div class="exam-start">
    <div class="questions type2">
        <h1 class="questions-title">@Model.QuestionText</h1>
        <div class="question-list">
            @foreach (var option in Model.Options)
            {
                <div class="question" id="question_variant_id_@option.Key">
                    <div class="question-variant">@option.Key</div>
                    <h4 class="question-title">@option.Value</h4>
                </div>
            }
        </div>
        <div class="question-image" id="question_image_id">
            <img alt="Question Image" src="DSA">
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // select multiple answers
        document.querySelectorAll('.question').forEach(item => {
            item.addEventListener('click', event => {
                if (!event.currentTarget.classList.contains('selected')) {
                    event.currentTarget.classList.add('selected');
                }
            });
        });

        //  "Modifică răspunsul" logic script
        const modifyButton = document.getElementById('answer_button_id_2');
        if(modifyButton) {
            modifyButton.addEventListener('click', function() {
                document.querySelectorAll('.question').forEach(q => {
                    q.classList.remove('selected');
                });
            });
        } else {
            console.error('Butonul "Modifică răspunsul" nu a fost găsit!');
        }
    });
</script>