@model Chestionare_online.Models.QuestionViewModel
@{
    ViewData["Title"] = "Examen";
    Layout = "~/Views/Shared/_LayoutExam.cshtml";
}

<div class="exam-start">
    <div class="questions type2">
        <h1 class="questions-title">@Model.QuestionText</h1>
        <div class="question-list">
            @foreach (var option in Model.Options)
            {
                <div class="question" id="question_variant_id_@option.Key">
                    <div class="question-variant">@option.Key</div>
                    <h4 class="question-title">@option.Value</h4>
                </div>
            }
        </div>
        <div class="question-image" id="question_image_id">
            <img alt="Question Image" src="DSA">
        </div>
    </div>
</div>

<form id="answerForm" method="post" asp-action="SubmitAnswer">
    <input type="hidden" id="selectedAnswer" name="selectedAnswer" value="" />
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let selectedAnswer = '';

        // logic for multiple selection
        document.querySelectorAll('.question').forEach(item => {
            item.addEventListener('click', event => {
                if (!event.currentTarget.classList.contains('selected')) {
                    event.currentTarget.classList.add('selected');
                    selectedAnswer = event.currentTarget.querySelector('.question-variant').textContent;
                    document.getElementById('selectedAnswer').value = selectedAnswer;
                }
            });
        });

        //logic for "Modify Answer" button
        const modifyButton = document.getElementById('answer_button_id_2');
        if(modifyButton) {
            modifyButton.addEventListener('click', function() {
                document.querySelectorAll('.question').forEach(q => {
                    q.classList.remove('selected');
                });
                selectedAnswer = '';
                document.getElementById('selectedAnswer').value = '';
            });
        }

        //logic for "Submit Answer" button 
        document.getElementById('answer_button_id_3').addEventListener('click', function() {
            if (selectedAnswer) {
                document.getElementById('answerForm').submit();
            } else {
                alert('Selectați un răspuns înainte de a trimite!');
            }
        });
    });
</script>