@{
    ViewData["Title"] = "Examen Respins";
    Layout = "~/Views/Shared/_LayoutFailExam.cshtml";
}

<div>
    <p class="error-message">
        <span class="dot"></span>
        <br />
        Testul a luat sfârșit.
        Ați fost declarat RESPINS la examenul de teorie.
    </p>
</div>