body {
    font-family: 'Roboto', sans-serif;
    background: white !important;
}

.navbar {
    position: relative;
}

.nav-item.position-absolute {
    left: 50%;
    transform: translateX(-50%);
}

.navbar-nav {
    position: relative;
}

.nav-item.flex-grow-1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}

.nav-item.d-flex {
    margin-left: auto;
}

.navbar-nav {
    flex-grow: 1;
}

.nav-link.p-0 {
    padding: 0 !important;
}

.card {
    margin-top: 5rem; 
    border-radius: 15px !important;
}

.btn-start:hover {
    background: #054a7a !important;
    transform: translateY(-2px);
    box-shadow: 1px 13px 14px -8px rgba(6, 49, 82, 0.56);
}

.robot-check input {
    margin-right: 8px;
    accent-color: #065693;
}

